/* .container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.child{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    background-color: #3eab35;
} */

.heading{
    text-align: center;
    font-family: sans-serif;
    border-bottom: 3px solid black;
    background-color: #f4f4f4;
}
#credit{
    display: flex;
    justify-content: end;
    background-color: #f4f4f4;
    color: grey;
}
/* img{
    width: 300px;
} */
.allImages{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child{
    width: 35%;
}

img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}



@media only screen and (min-width:320px) and (max-width:480px) {
    /* .container{
        display: flex;
        flex-direction: column;
    }
    .child{
        height: 200px;
        margin: 5px;
        width: 200px;
        border: 2px solid red;
        background-color: aqua;
    } */
    .allImages{
        display: flex;
        flex-direction: column;
    }
    .child{
        width: 100%;
    }
}